<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.FoodDao">
	<resultMap type="food" id="foodMap">
		<id column="member_seq" property="memberSeq"/>
	</resultMap>
	<select id="selectCal" resultMap="foodMap" parameterType="int">
		SELECT * 
		  FROM sf_calories
		 WHERE member_seq = #{memberSeq}
	</select>
	<insert id="setCal" parameterType="food">
		INSERT INTO sf_calories
		VALUES (#{memberSeq}, #{cal})
	</insert>
	<delete id="deleteCal" parameterType="int">
		DELETE FROM sf_calories
		 WHERE member_seq = #{memberSeq}
	</delete>
</mapper>