<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">
	<resultMap type="review" id="reviewMap">
		<result column="review_seq" property="reviewSeq"/>
		<result column="youtube_id" property="youtubeId"/>
		<result column="writer" property="writer"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
	</resultMap>
	<select id="selectReviewByYoutubeId" resultMap="reviewMap" parameterType="string">
		SELECT *
		  FROM sf_review
		 WHERE youtube_id = #{youtubeId};
	</select>	
	<insert id="insertReview" parameterType="review">
		INSERT INTO sf_review
		VALUES (0, #{youtubeId}, #{writer}, #{title}, #{content});
	</insert>
	<delete id="deleteReview" parameterType="int">
		DELETE 
		  FROM sf_review
		 WHERE review_seq = #{reviewSeq};	
	</delete>
</mapper>